 body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1366px;
    height: 1366px;
    left: 0px;
    top: 0px;

background: #ECFDF5;
}

.heading-1{
position: absolute;
width: 824px;
height: 198px;
left: 130px;
top: 0px;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 80px;
/* or 100% */

letter-spacing: -0.05em;

/* night */

color: #2B283A;
}
.heading-2
{
    position: absolute;
    width: 824px;
    height: 198px;
    left: 130px;
    top: 0px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 80px;
    /* or 100% */
    
    letter-spacing: -0.05em;
    
    /* night */
    
    color:  #10B981;
}

.text1{
    position: absolute;
width: 923px;
height: 69px;
left: 130px;
top: 226px;

/* text-xl/leading-7/font-normal */

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 49px;
line-height: 28px;
/* identical to box height, or 140% */


color: #6B7280;

}
 .generatePassword-el{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 17px;
    
    position: absolute;
    width: 553px;
    height: 104px;
    left: 130px;
    top: 605px;
   
    background: #10B981;
    /* shadow/sm */
    
    box-shadow: 0px 2.48px 4.96px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
 }

 .button-icon{
    
    position: static;
width: 49.62px;
height: 49.62px;
left: 37.25px;
top: 27.31px;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 29.80px;
position: absolute;
left: 0%;
/*right: 37.25%;
top: 12.41%;
bottom: 12.41%;

/*white */
    background: #272863; 
 }

 .button-heading{
position: static;
width: 394px;
height: 24px;
left: 116px;
top: 22px;

/* text-base/leading-6/font-medium */

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 39.73px;
line-height: 24px;
/* identical to box height, or 150% */


/* white */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 12px;
 }

 .rectangle-1
 {
    position: absolute;
    width: 524px;
    height: 96px;
    left: 130px;
    top: 971px;
    
    background: #273549;
    border-radius: 15px;
 }

 #rectangle-1text{
     position: absolute;
width: 447px;
height: 79px;
left: 166px;
top: 965px;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 32px;
/* identical to box height, or 200% */

text-align: center;

color: #5DEF92;

 }

 .rectangle-2{
    position: absolute;
    width: 524px;
    height: 96px;
    left: 712px;
    top: 971px;
    
    background: #273549;
    border-radius: 15px;
 }

 #rectangle-2text
 {
    position: absolute;
width: 447px;
height: 79px;
left: 737px;
top: 965px;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 32px;
/* identical to box height, or 200% */

text-align: center;

color: #5DEF92;

 }
 .rectangle-3
 {
position: absolute;
width: 524px;
height: 96px;
left: 124px;
top: 1135px;

background: #273549;
border-radius: 15px;
 }

 #rectangle-3text{
    position: absolute;
    width: 447px;
    height: 79px;
    left: 166px;
    top: 1125px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #5DEF92;
    
 }

 .rectangle-4{
    position: absolute;
    width: 524px;
    height: 96px;
    left: 712px;
    top: 1135px;
    
    background: #273549;
    border-radius: 15px;
 }

 #rectangle-4text{
    position: absolute;
    width: 447px;
    height: 79px;
    left: 737px;
    top: 1125px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    /* identical to box height, or 200% */
    
    text-align: center;
    
    color: #5DEF92;
 }

 .line{
    position: absolute;
    width: 1107px;
    height: 0px;
    left: 129px;
    top: 834px;
    
    border: 2.5px solid #D5D4D8;
 }

 .increase-lenght{
    width: 300px;
    height: 50px;
    margin-top: 0px;
    margin-left: 830px;
    margin-bottom: 10px;
    background : blue;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 60px;
 }
 
 .copy-clipboard{
   width: 300px;
   height: 50px;
   margin-top: 40px;
   margin-left: 830px;
   background : darkorange;
   border-radius: 15px;
   color: #FFFFFF;
   font-size: 20px;
   padding-right: 40px;
 }

 .decrease-lenght{
   width: 300px;
   height: 50px;
   margin-top: 0px;
   margin-left: 830px;
   background : red;
   border-radius: 15px;
   color: #FFFFFF;
   font-size: 20px;
   padding-right: 60px;
 }

 #lenghtPassword{
    text-align: center;
    margin-top: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #6B7280;
    letter-spacing: 0.1mm;  
    font-weight: 800;
 }

#copyPassword{
   margin-left: 150px;
   margin-top: 35px;
   width: 300px;
   height: 30px;
}

.steps{
   margin-left: 130px;
   margin-top: 330px; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 24px;
}

.list1{
   margin-left: 130px;
   font-size: 20px;
}